<script src="../javascripts/jquery-1.6.1.min.js"></script>
<script>
  var newLyricsTabId = -1, HTMLDEBUG;
  
  function getLyricsFromRawHtml(data){
    var filter = function(){
      // filters all text nodes and some inline elements out
      return this.nodeType === Node.TEXT_NODE || $(this).is('p, br, i, b, strong, em');
    };
    
    // create a div,
    // append .lyricsbox's direct children to it
    // and filter all unnecessary elements out
    // get the html and remove the div.
    return $('<div>').append($(data).find('.lyricbox').contents().filter(filter)).remove().html();
  }
  
  function getLyrics(title, callback) {
    var startPos, 
        endPos, 
        lyrics,
        url = 'http://google.com/search?sourceid=navclient&btnI=1&q=site%3Alyrics.wikia.com+' + encodeURIComponent(title +  ' -"Page Ranking Information"');
    
    $.ajax({
      url: url,
      type: 'GET',
      success: function(data, status){
        try {
        
          // Check if XHR completed succesfully
          if(status !== 'success'){
            throw('Could not connect with azlyrics');
          }
          
          lyrics = getLyricsFromRawHtml(data);
          
          if(lyrics.length === 0){
            throw('No lyrics found');
          }
          
          // Send lyrics back
          callback({
            success: true,
            lyrics: lyrics
          });
        } catch(err) {
        
          // Error in request
          callback({
            success: false,
            errorMsg: err
          });            
        }
      }
    });
  }
  
  function onInstall() {
    chrome.tabs.create({
      url: 'http://harmenstoppels.nl/lyrics-for-google-chrome/',
    });
  }

  function onUpdate() {
    chrome.tabs.create({
      url: 'http://harmenstoppels.nl/lyrics-for-google-chrome/',
    });
  }
  
  function getVersion() {
    var version;
    
    // Synchronous request
    $.ajax({
      url: chrome.extension.getURL('manifest.json'),
      async: false,
      dataType: 'json',
      success: function(data){
        version = data.version;
      }
    });
    
    return version;
  }
  
  function onLyricsTabPrepared(tab, callback){
    newLyricsTabId = tab.id;
      
    // Keep track of the lyrics tab
    chrome.tabs.onRemoved.addListener(function(tabId, removeInfo){
      if(newLyricsTabId === tabId){
        newLyricsTabId = -1;
      }
    });
    
    // Create a temporary listener to check when the tab content has loaded
    chrome.tabs.onUpdated.addListener(function(tabId, changeInfo, tab) {
      if(changeInfo.status === "complete" && tab.id === newLyricsTabId) {
        callback.call();
        chrome.tabs.onUpdated.removeListener(arguments.callee);
      }
    });
  }
  
  function convertTabToLyricsTab(tabId, callback){
    var options = {
      url: chrome.extension.getURL('../contentScripts/newTab/index.html')
    };
    
    chrome.tabs.update(tabId, options, function(newTab){
      onLyricsTabPrepared(newTab, callback);
    });
  }
  
  function createLyricsTab(index, callback){
    var options = {
      url: chrome.extension.getURL('../contentScripts/newTab/index.html'),
      pinned: localStorage['tabType'] === 'pinned'
    };
    
    if(index !== -1){
      options.index = index;
    }
    
    chrome.tabs.create(options, function(newTab){
      onLyricsTabPrepared(newTab, callback);
    });
  }
  
  function openLyricsInTab(title, index){
    // Request for the lyrics tab
    var submitRequest = function(){
      chrome.tabs.sendRequest(newLyricsTabId, {
        title: title,
        onlyRequery: true,
        action: 'initNewTab'
      }, function(res){
        console.log('test', res, chrome.extension.lastError);
      });
    };
    
    if(newLyricsTabId === -1){
      // Create a new tab for the lyrics
      createLyricsTab(index, submitRequest);
    } else {
      // Make the tab selected
      chrome.tabs.update(newLyricsTabId, {selected: true});
      
      // The lyrics tab already exists
      submitRequest();
    }
  }
  
  // Omnibox default suggestion
  chrome.omnibox.setDefaultSuggestion({description: 'Enter the song title and artist or a part of the lyrics'});
  
  // If input has been sent via the omnibox
  chrome.omnibox.onInputEntered.addListener(function(title) {
    chrome.tabs.getSelected(null, function(tab){
      
      // Check if you're already in the lyrics tab
      if(newLyricsTabId === tab.id){
        openLyricsInTab(title);
      }
      
      // Set the lyrics tab to the current tab`
      convertTabToLyricsTab(tab.id, function(){
        openLyricsInTab(title);
      });
    });
  });
  
  chrome.extension.onRequest.addListener(function(request, sender, callback) {
    switch(request.action){
      case 'newTabPageLoaded':
        
      break;
      case 'getLyrics':
        getLyrics(request.title, callback);
      break;
      case 'showPageActionIcon':
        chrome.pageAction.show(sender.tab.id);
      break;
    }
  });
  
  // Send a message to the tab if the page action was clicked
  chrome.pageAction.onClicked.addListener(function(tab){
  
    if(localStorage['showLyricsType'] == 'onPage'){
    
      // Show the lyrics on the current tab itself
      chrome.tabs.sendRequest(tab.id, {action: 'showLyricsOnPage'});
    } else {
    
      // Get the title from the page
      chrome.tabs.sendRequest(tab.id, {action: 'getLyricsTitle'}, function(data){
        openLyricsInTab(data.title, tab.index+1);
      });
    }
  });
  
  // Check if the extension has been updated
  var currVersion = getVersion(),
      prevVersion = localStorage['version'];
      
  if (currVersion !== prevVersion) {
    if (typeof prevVersion === 'undefined') {
      onInstall();
    } else {
      onUpdate();
    }
    
    localStorage['version'] = currVersion;
  }
  
  // Check if is set whether the lyrics should show up on the page or in a new tab
  if(typeof localStorage['showLyricsType'] === 'undefined'){
    localStorage['showLyricsType'] = 'onPage';
  }
</script>
