<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
	<title>Lyrics for Google Chrome</title>
  <script src="../javascripts/jquery-1.6.1.min.js"></script>
  <script src="../javascripts/getLyrics.js"></script>
  
  <script>
  // Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23513852-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

  <script>
    var newLyricsTabId = -1, HTMLDEBUG;
    
    function onInstall() {
      chrome.tabs.create({
        url: 'http://harmenstoppels.nl/lyrics-for-google-chrome/',
      });
    }

    function onUpdate(prevVersion) {
      chrome.tabs.create({
        url: 'http://harmenstoppels.nl/lyrics-for-google-chrome/changelog/',
      });
    }
    
    function getVersion() {
      var version;
      
      // Synchronous request
      $.ajax({
        url: chrome.extension.getURL('manifest.json'),
        async: false,
        dataType: 'json',
        success: function(data){
          version = data.version;
        }
      });
      
      return version;
    }
    
    function onLyricsTabPrepared(tab, callback){
      newLyricsTabId = tab.id;
        
      // Keep track of the lyrics tab
      chrome.tabs.onRemoved.addListener(function(tabId, removeInfo){
        if(newLyricsTabId === tabId){
          newLyricsTabId = -1;
        }
      });
      
      // Create a temporary listener to check when the tab content has loaded
      chrome.tabs.onUpdated.addListener(function(tabId, changeInfo, tab) {
        if(changeInfo.status === "complete" && tab.id === newLyricsTabId) {
          callback.call();
          chrome.tabs.onUpdated.removeListener(arguments.callee);
        }
      });
    }
    
    function convertTabToLyricsTab(tabId, callback){
      var options = {
        url: chrome.extension.getURL('../contentScripts/newTab/index.html')
      };
      
      chrome.tabs.update(tabId, options, function(newTab){
        onLyricsTabPrepared(newTab, callback);
      });
    }
    
    function createLyricsTab(index, callback){
      var options = {
        url: chrome.extension.getURL('../contentScripts/newTab/index.html'),
        pinned: localStorage['tabType'] === 'pinned'
      };
      
      if(index !== -1){
        options.index = index;
      }
      
      chrome.tabs.create(options, function(newTab){
        onLyricsTabPrepared(newTab, callback);
      });
    }
    
    function openLyricsInTab(title, index){
      // Request for the lyrics tab
      var submitRequest = function(){
        chrome.tabs.sendRequest(newLyricsTabId, {
          title: title,
          onlyRequery: true,
          action: 'initNewTab'
        }, function(res){
          console.log('test', res, chrome.extension.lastError);
        });
      };
      
      if(newLyricsTabId === -1){
        // Create a new tab for the lyrics
        createLyricsTab(index, submitRequest);
      } else {
        // Make the tab selected
        chrome.tabs.update(newLyricsTabId, {selected: true});
        
        // The lyrics tab already exists
        submitRequest();
      }
    }
    
    // Omnibox default suggestion
    chrome.omnibox.setDefaultSuggestion({description: chrome.i18n.getMessage('omniboxHelp')});
    
    // If input has been sent via the omnibox
    chrome.omnibox.onInputEntered.addListener(function(title){
    
      // Send info to Google Analytics
      _gaq.push(['_trackEvent', 'Usage', 'Omnibox']);
      
      chrome.tabs.getSelected(null, function(tab){
        
        // Check if you're already in the lyrics tab
        if(newLyricsTabId === tab.id){
          openLyricsInTab(title);
        }
        
        // Set the lyrics tab to the current tab`
        convertTabToLyricsTab(tab.id, function(){
          openLyricsInTab(title);
        });
      });
    });
    
    /*chrome.omnibox.onInputChanged.addListener(function(text, suggest){
      suggest([
          {
            'content' : 'Adele - Someone Like You',
            'description' : '<match>Ade</match>le - Someone Like You'
          },{
            'content' : 'Coldplay',
            'description' : 'Every teardrop is a waterfall'
          }
      ]);
    });*/
    
    chrome.extension.onRequest.addListener(function(request, sender, callback) {
      switch(request.action){
        case 'openSettings':
          chrome.tabs.create({
            url: chrome.extension.getURL('views/settings.html'),
            selected: true,
            index: sender.tab.index+1
          }, callback);
        break;
        case 'hideNewPopupNotification':
          localStorage['showNewPopupNotification'] = 'false';
        break;
        case 'newTabPageLoaded':
          
        break;
        case 'getLyrics':
          getLyrics(request.title, callback);
        break;
        case 'showPageActionIcon':
          chrome.pageAction.show(sender.tab.id);
          
          // Open a popup if the user settings say so
          if(localStorage['showLyricsType'] === 'popup'){
            chrome.pageAction.setPopup({
              tabId: sender.tab.id,
              popup: 'contentScripts/Popup/popup.html'
            });
          }
        break;
        case 'currentLyricsToTab':
          openLyricsInTab(request.title, sender.tab.index+1);
        break;
      }
    });
    
    // Send a message to the tab if the page action was clicked
    // This will only work if no popup was set for the current page action
    // The popup has its own onclicked "handler", see popup.html
    chrome.pageAction.onClicked.addListener(function(tab){
      
      // Send info to Google Analytics
      _gaq.push(['_trackEvent', 'Usage', 'Page action', tab.url.split('/', 3).join('/')]);
    
      if(localStorage['showLyricsType'] == 'onPage'){
      
        // Show the lyrics on the current tab itself
        chrome.tabs.sendRequest(tab.id, {action: 'showLyricsOnPage'});
      } else {
      
        // Get the title from the page
        chrome.tabs.sendRequest(tab.id, {action: 'getLyricsTitle'}, function(data){
          openLyricsInTab(data.title, tab.index+1);
        });
      }
    });
    
    // Check if the extension has been updated
    var currVersion = getVersion(),
        prevVersion = localStorage['version'];
        
    if (currVersion !== prevVersion) {
      if (typeof prevVersion === 'undefined') {
        onInstall();
      } else {
        onUpdate(prevVersion);
      }
      
      localStorage['version'] = currVersion;
    }
    
    // Check if is set whether the lyrics should show up on the page or in a new tab
    if(typeof localStorage['showLyricsType'] === 'undefined'){
      localStorage['showLyricsType'] = 'onPage';
    }
    
    if(typeof localStorage['found'] === 'undefined'){
      localStorage['found'] = '0';
    }
    
    if(typeof localStorage['showNewPopupNotification'] === 'undefined'){
      localStorage['showNewPopupNotification'] = 'true';
    }
  </script>
</head>
<body>
</body>
</html>
