#ytl-innerwrapper {
  min-height: 15px;
  max-height: 426px;
  overflow-y: auto;
  -webkit-transition: height .3s ease-out;
}

#ytl-remove-lyrics {
  float: right;
  margin: 6px 3px 0 0;
}

#ytl-search-lyrics {
  width: 98%;
}

#lfc-change-lyrics {
  font-size: .8em;
}