

#ytl-innerwrapper {
  min-height: 15px;
  max-height: 426px;
  height: auto;
  overflow-y: auto;
  -webkit-transition: height .3s ease-out;
}

#ytl-remove-lyrics {
  float: right;
  margin: 6px 3px 0 0;
}

#ytl-search-lyrics {
  width: 95%;
  -webkit-box-sizing: border-box;
}

#lfc-change-lyrics {
  font-size: .8em;
}

#ytl-lyrics {
  padding-right: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.newYouTube #ytl-outerwrapper {
  padding: 10px;
  margin-bottom: 10px;
  background: #FFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px #888;
  box-sizing: border-box;
  color: #333;
  font-size: 12px;
  text-align: left;
  line-height: normal;
}

.newYouTube #page.watch h4 {
  margin-bottom: 10px;
}

.newYouTube #ytl-remove-lyrics {
  margin: 2px 1px 0 0;
}

.newYouTube #page.watch6 #watch-channel-brand-div {
  height: 362px;
}

.newYouTube #page.watch6 div#watch-channel-brand-div.lfc-explicit-show {
  display: block !important;
}