#lfc-innerwrapper {
  min-height: 15px;
  max-height: 426px;
  overflow-y: auto;
  -webkit-transition: height .3s ease-out;
  height: auto;
  padding: 5px 7px 4px 8px;
}

#lfc-outerwrapper #lfc-innerwrapper p {
  text-align: left;
  padding: 0;
}

#lfc-remove-lyrics {
  float: right;
  cursor: pointer;
  padding-right: 1px;
}

#lfc-outerwrapper #lfc-change-lyrics {
  font-size: .8em;
  color: #FFF;
}

#lfc-search-lyrics {
  width: 100%;
  -webkit-box-sizing: border-box;
}

#lfc-flash-description {
  padding: .5em 0;
}
.lfc-notification {
  display: block;
  margin-bottom: 1em;
  background: #FFC;
  padding: 1em;
  border: 1px solid #DDA;
  cursor: pointer;
  line-height: 16px;
}

.lfc-notification-hide {
  font-size: smaller;
  color: #AA9;
  float: right;
  line-height: 16px;
  padding: 0 4px;
}

.lfc-notification:hover {
  background: #FFA;
}

.lfc-notification-hide:hover {
  background: #BB7;
  color: white;
}